---
Checks: 'readability-*, cppcoreguidelines-*, clang-analyzer-*, -readability-magic-numbers, -cppcoreguidelines-narrowing-conversions'
WarningsAsErrors: true
CheckOptions:
  - key: readability-function-size.LineThreshold
    value: 16
---
